pyrogram
pyromod==1.5
tgcrypto
uvloop
flask
datetime 
pytz 
requests 
bs4 
validators
motor==2.5.1
aiohttp
pymongo[srv]==3.12.3 
umongo==3.0.1
Pillow
humanize
hachoir
git+https://github.com/agronholm/anyio
